.el-input__wrapper,
.el-button {
  backface-visibility: hidden;
}
.is-checked {
  background-color: var(--main-tag-chosen-backgroundColor) !important;
  border: unset !important;
  color: var(--main-tag-chosen-color) !important;
}
